* {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  overflow: auto;
  font-size: 65%;
}

